<div id="fullArea">
  <div id="map" [ngStyle]="{'height': gameMap.height * 32 + 'px', 'width': gameMap.width * 32 + 'px' }">
  </div>
  <div id="tile-picker" cdkDrag cdkDragBoundary="#fullArea">
    <button class="btn btn-info" id="tile-picker-terrain" (click)="gameMap.tileSelector.goToTerrainSection()">Terrain</button>
    <button class="btn btn-info" id="tile-picker-mobs" (click)="gameMap.tileSelector.goToMobSection()">Mobs</button>
    <button class="btn btn-info" id="tile-picker-spawning" (click)="gameMap.tileSelector.goToSpawnSection()">Spawning</button>
    <button class="btn btn-info" id="tile-picker-settings" (click)="gameMap.tileSelector.goToSettingsSection()">Settings</button>
    <button class="btn btn-info" id="tile-picker-import-export" (click)="gameMap.tileSelector.goToImportExportSection()">Import/Export</button>
    <div id="tile-picker-section">
      <div *ngIf="gameMap.tileSelector.state == TileSelectorState.Settings">
        <div class="settings-box">
          <div class="settings-box-singular">
            <div class="settings-box-singular-title">
              <strong>Height</strong>
            </div>
            <div class="settings-box-singular-value">
              <mat-icon (click)="gameMap.decrementHeight()">arrow_left</mat-icon> {{gameMap.height}} <mat-icon (click)="gameMap.incrementHeight()">arrow_right</mat-icon>
            </div>
          </div>
          <div class="settings-box-singular">
            <div class="settings-box-singular-title">
              <strong>Width</strong>
            </div>
            <div class="settings-box-singular-value">
              <mat-icon (click)="gameMap.decrementWidth()">arrow_left</mat-icon> {{gameMap.width}} <mat-icon (click)="gameMap.incrementWidth()">arrow_right</mat-icon>
            </div>
          </div>
          <div *ngFor="let mapSetting of gameMap.mapSettings" class="settings-box-singular">
            <div class="settings-box-singular-title-2">
              <strong>{{mapSetting.name}} Frequency</strong>
            </div>
            <div class="settings-box-singular-value">
              <input matInput type="number" step="1" [(ngModel)]="mapSetting.value">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="gameMap.tileSelector.state == TileSelectorState.ImportExport">
        <label class="btn btn-success">
          Import
          <input type="file" style="display: none;"  name="image" (change)="uploadLevel($event)">
        </label>
        <button type="button" (click)="downloadLevel()" class="btn btn-success">
          Export
        </button>
      </div>
    </div>
  </div>
</div>
