#fullArea {
  /* width: 95vw; */
  height: 95vh;
  margin: auto;
  background: gray;
}

#map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tile-picker {
  width: 392px;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 4px;
  background: black;
}

.tile-picker-button {
  width: 20%;
  color: #fff;
  background-color: #54c800;
  border: 1px solid gray;
  font-size: 10px;
  height: 30px;
  cursor: pointer;
}

.tile-picker-button:hover {
  background: #347F01;
}

.settings-box {
  width: 100%;
  background: white;
}

.mat-icon {
  vertical-align: middle;
}

.settings-box-singular-title {
  display: inline-block;
  width: 20%;
}

.settings-box-singular-title-2 {
  display: inline-block;
  width: 50%;
}

.settings-box-singular-value {
  display: inline-block;
}

.tile-picker-tabs {
  margin-bottom: 4px;
}
